.Column {
  height:100%;
  width: 340px;
}


.container {
  position: relative;
  display: block;
  margin: 0 auto;
  overflow: auto;
  z-index:1000;
}

.ui.grid > .column:not(.row) {
  padding-left: 0px;
  padding-right: 0px;
}