.Column {
  height:100%;
  width: 340px;
  overflow: auto;
}

.container {
  overflow: scroll, hidden;
  white-space: nowrap;
  vertical-align: top;
}

.ColumnContainer {
  position: absolute;
  height: 100%;
  overflow: auto;
  white-space: nowrap;
}

.cards {
  display: block ruby !important;
}


.ui.grid > .column:not(.row) {
  padding-left: 0px;
  padding-right: 0px;
}

.comment {
  white-space: normal;
  overflow-wrap: anywhere;
}